streamlit
edge-tts
langdetect
rembg
onnxruntime
openpyxl
wordcloud
plotly
googletrans
easyocr
deep-translator
google-generativeai
akshare
libsql-client
opencv-python
streamlit_autorefresh
PyGithub
google-api-python-client
youtube-transcript-api
beautifulsoup4